.add-btn{
  border-radius: 30px;
  color: white !important;
  background-color: #49b430 !important;
  padding: 23px 20px 20px 20px !important;
  display: flex;
}

.mat-toolbar .mat-mdc-button-base.mat-mdc-button-base.mat-unthemed{
  border-radius: 30px;
}
