*{
  font-family: 'Vazir', sans-serif !important;
}

.cus-btn{
  border-radius: 30px;
  padding: 23px 20px 20px 20px !important;
  flex: 1;
}

.example-full-width {
  width: 100%;
}


mat-form-field{
  width: 100%;
}

.action{
  padding: 0 28px 20px;
  button{
    flex: 1;
  }
}

.date-picker{
 width: 100%;
}

.mat-mdc-dialog-container .mdc-dialog__surface{
  border-radius: 30px;
}
