<app-navigation></app-navigation>
<main class="main-content">
  <div class="container text-center custom-container">
    <router-outlet></router-outlet>
  </div>
</main>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div
        class="modal-header"
        style="flex-direction: row-reverse; justify-content: space-between"
      >
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          فرم اضافه کردن غذا
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          style="margin: 0"
        ></button>
      </div>
      <div class="modal-body">...</div>
      <div class="modal-footer" style="justify-content: flex-start">
        <button
          type="button"
          class="btn btn-danger"
          data-bs-dismiss="modal"
          routerLink="/home"
        >
          بستن
        </button>
        <button type="button" class="btn btn-outline-success">ثبت</button>
      </div>
    </div>
  </div>
</div>



