
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-autoreservation-app-primary: mat.define-palette(mat.$orange-palette);
$frontend-autoreservation-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontend-autoreservation-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontend-autoreservation-app-theme: mat.define-light-theme((
  color: (
    primary: $frontend-autoreservation-app-primary,
    accent: $frontend-autoreservation-app-accent,
    warn: $frontend-autoreservation-app-warn,
  ),
  typography: mat.define-typography-config(
  ),
  density: 0
));
/* BEGIN Bold */
@font-face {
  font-family: 'IranianSansBold';
  src: url('assets/fonts/IranianSansBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* END Bold */
/* BEGIN Regular */
@font-face {
  font-family: 'IranianSans';
  src: url('assets/fonts/IranianSansRegular.ttf') format('truetype'),
  url('assets/fonts/IRANSans-web.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
*{
  font-family:'Vazir', sans-serif ;
}
/* END Regular */

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($frontend-autoreservation-app-theme);


body {

  margin: 0;
  padding: 0;
  background-image: url("./assets/images/main-image.jpg"); /* Replace 'background-image.jpg' with the path to your image */
  background-size: cover; /* Ensures the image covers the entire background */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Fixes the background in place */
}

.side-bar-template {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  background-color: #ffffff1a;
  backdrop-filter: blur(20px);
}

.offcanvas-backdrop.show {
  opacity: 0;
}

.toggle-side-bar {
  position: relative;
  font-weight: bold;
  font-size: 22px;
  width: 105px;
  height: 50px;
  margin: 0;
}

.offcanvas-header {
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 5px;
}
.toggle-side-bar a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.43);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  padding: 10px;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  color: #fff;
  font-weight: 400;
  z-index: 1;
  transition: 0.5s;
  backdrop-filter: blur(15px);
}
.toggle-side-bar:hover a {
  font-size: 24px;
}
.toggle-side-bar a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translate(0);
  transition: 0.5s;
  filter: blur(0px);
}
.toggle-side-bar:hover a::before {
  transform: skewX(45deg) translate(200px);
}
.toggle-side-bar::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5s;
}
.toggle-side-bar:hover::before /*lightup button*/ {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}
.toggle-side-bar::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5s;
}
.toggle-side-bar:hover::after /*lightup button*/ {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}

.logo-image {
  width: 15rem;
}

.toggle-side-bar:nth-child(1)::before, /* 2*/
.toggle-side-bar:nth-child(1)::after {
  background: #ffa500;
  box-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 30px #ffa500,
  0 0 60px #ffa500;
}

.item-side-bar-btn {
  border: none;
  padding: 6px 20px;
  margin: 0px 40px 30px 40px;
  font-size: 18px;
  font-weight: normal;
  position: relative;
  background: transparent;
  color: #ffa500;
  text-transform: uppercase;
  border: 3px solid #ffa500;
  cursor: pointer;
  transition: all 0.7s;
  overflow: hidden;
  border-radius: 100px;
}

.item-side-bar-btn:hover {
  color: #000;
}
.item-side-bar-btn span {
  transition: all 0.7s;
  z-index: -1;
}

.item-side-bar-btn .first {
  content: "";
  position: absolute;
  right: 100%;
  top: 0;
  width: 25%;
  height: 100%;
  background: #ffa500;
}

.item-side-bar-btn:hover .first {
  top: 0;
  right: 0;
}
.item-side-bar-btn .second {
  content: "";
  position: absolute;
  left: 25%;
  top: -100%;
  height: 100%;
  width: 25%;
  background: #ffa500;
}

.item-side-bar-btn:hover .second {
  top: 0;
  left: 50%;
}

.item-side-bar-btn .third {
  content: "";
  position: absolute;
  left: 50%;
  height: 100%;
  top: 100%;
  width: 25%;
  background: #ffa500;
}

.item-side-bar-btn:hover .third {
  top: 0;
  left: 25%;
}

.item-side-bar-btn .fourth {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  width: 25%;
  background: #ffa500;
}
.mat-mdc-dialog-container .mdc-dialog__surface{
  border-radius: 30px !important;
}

.item-side-bar-btn:hover .fourth {
  top: 0;
  left: 0;
}

.offcanvas.offcanvas-end {
  width: 20rem;
}

.item-side-bar-btn-danger {
  border: none;
  padding: 6px 20px;
  margin: 0px 40px 30px 40px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  bottom: 0;
  left: 4rem;
  background: #ff2200d7;
  color: #ffffffd7;
  text-transform: uppercase;
  border: 3px solid #ff2200d7;
  cursor: pointer;
  transition: all 0.7s;
  overflow: hidden;
  border-radius: 100px;
}

.item-side-bar-btn-danger:hover {
  transition: all 500ms;
  border-radius: 15px;
  background-color: rgb(81, 8, 8);
}

.item-side-bar-btn-link {
  text-decoration: none;
  color: #ffa500;
  padding: 10px 30px;
}

.item-side-bar-btn-link:hover {
  color: #000;
}

header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #ffffff3b;
  backdrop-filter: blur(20px);
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.05);
}

.logo {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 52px;
}

.group {
  display: flex;
  align-items: center;
}

header ul {
  position: relative;
  display: flex;
  gap: 30px;
  top: 7px;
}

header ul li {
  list-style: none;
}

header ul li a {
  position: relative;
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
}

header ul li a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scaleX(0);
  transition: transform 500ms ease-in-out;
  transform-origin: right;
}

header ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

header .search {
  display: flex;
  font-size: 1.5rem;
  z-index: 10;
  cursor: pointer;
  bottom: 2px;
  right: 30em;
}

.navigation {
  align-items: center;
  justify-content: center;
}

.custom-container {
  margin: 6rem auto 1rem auto;
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(20px);
  padding: 47px;
  width: 1400px;
  border-radius: 20px;
}

.search-logo {
  display: flex;
  gap: 4rem;
}

.box input {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  direction: rtl;
}

input[type="text"] {
  background: #fff;
  width: 340px;
  height: 40px;
  border: none;
  outline: none;
  padding: 0 25px;
  border-radius: 30px;
  padding-bottom: 8px;
  padding-top: 4px;
}

input[type="submit"] {
  border-radius: 30px;
  width: 150px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #ffa500;
  padding-bottom: 6px;
  color: #fff;
  transition: 500ms;
  margin-right: 20px;
  font-size: 20px;
}

input[type="submit"]:hover {
  background: #59524f;
}

.col {
  flex: 0 0 0%;
  margin-bottom: 20px;
}

.card {
  border-radius: 30px;
}

.card-img-top {
  border-radius: 30px;
}

@media screen and (max-width: 840px) {
  .search-logo {
    gap: 0;
  }

  .box input {
    display: none;
  }

  .logo {
    margin-left: 0;
  }
}

@media screen and (max-width: 304px) {
  .search-logo {
    gap: 0;
  }

  .box input {
    display: none;
  }

  .logo {
    display: none;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
